body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
   
}
#menu-top-diachi{
    background-color: rgb(18,74,47);
    width: 1920px; height: 75px;
    padding-left: 0px;
}

#menu-top-diachi ul{
    margin-left: 400px;
}   

#menu-top-diachi ul li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;font-size: 15px;
    color: rgb(228,234,231);
    float: left;
    line-height: 75px;
    padding-right: 50px; padding-left: 50px;
    
}
#menu-top{    
    width: 1920px; height: 75px;
}

#menu-top #menu-top-left{
    width: 960px; 
    float: left;min-height: 75px;
}

#menu-top #menu-top-left img{
    width: 100px;
    padding-left: 400px;
}

#menu-top #menu-top-right{
    width: 960px; 
    float: left;min-height: 75px;
    
}

#menu-top #menu-top-right ul li{
    list-style-type: none;
    float: left;
}

#menu-top #menu-top-right ul li a{
    text-decoration: none;
    display: block;
    padding-right: 70px;
    color: black;transition-duration: 0.3s;
    
}

#menu-top #menu-top-right ul li a:hover{
    color: red;transform: scale(1.3);
}

#main{   
    width: 1920px; min-height: 1200px;
    float: left; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#main #main-top{
    
    width: 1920px; min-height: 300px;
    float: left;
    
}

#main #main-mid{
    width: 1300px; min-height: 900px;
    margin: 0px auto;padding: 0px; 
    clear: left;
}

#main #main-mid ul li{
    list-style-type: none;float: left;
}

#main #main-mid ul li a{
    text-decoration: none;color: black;
}

#main #main-mid ul li a:hover{
    color: red;
}

#main #main-mid ul li img{
    width: 250px; padding-top: 20px;float: left;
    padding-right: 30px;
}






#footer{
    background-color: rgb(233, 233, 233);
    width: 1920px;min-height: 200px;
    color: black;text-align: center;
    clear: left;
    
}
#footer #footer-mid img{
    width: 200px;
}

#footer #footer-mid p{
    font-family: 'Courier New', Courier, monospace
    text-align: center;
    line-height: 2px;
    font-size: 20px;
}
