body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
   
}
#menu-top-diachi{
    background-color: rgb(18,74,47);
    width: 1920px; height: 75px;
    padding-left: 0px;
}

#menu-top-diachi ul{
    margin-left: 400px;
}

#menu-top-diachi ul li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;font-size: 15px;
    color: rgb(228,234,231);
    float: left;
    line-height: 75px;
    padding-right: 50px; padding-left: 50px;
    
}

#menu-top{    
    width: 1920px; height: 75px;
}

#menu-top #menu-top-left{
    width: 960px; 
    float: left;min-height: 75px;
}

#menu-top #menu-top-left img{
    width: 100px;
    padding-left: 400px;
}

#menu-top #menu-top-right{
    width: 960px; 
    float: left;min-height: 75px;
    
}

#menu-top #menu-top-right ul li{
    list-style-type: none;
    float: left;
}

#menu-top #menu-top-right ul li a{
    text-decoration: none;
    display: block;
    padding-right: 70px;
    color: black;transition-duration: 00.3s;
    
}

#banner{
    padding: 0px; margin: 0px;
    height: auto;
    padding-bottom: 40px;
    clear: left;
  
}
#banner img{
    width: 1900px; 
}

#main{
    width: 1400px; height: 2200px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;color: rgb(85,85,85);
}

#main #main-top{
    text-align: center;color: rgb(85,85,85);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;line-height: 10px;padding-bottom: 40px;
}


#main #main-left{
    width: 300px;height: 700px;float: left;margin-right: 30px;
   
}
#main #main-left p{
    padding-top: 350px;
}

#main #main-leftt ul{
    padding-top: 350px;
}

#main #main-right ul{
    padding-top: 350px;
}

#main #main-rightt ul{
    padding-top: 350px;
}




#main #main-leftt{
    width: 300px;height: 700px;float: left;margin-right: 30px;
}

#main #main-right{
    width: 300px;height: 700px;float: left;margin-right: 30px;
}

#main #main-rightt{
    width: 300px;height: 700px;float: left;margin-right: 30px;
}


#main #main-left img{
    width: 300px;float: left;border-radius: 60px ; box-shadow: 10px 1px 12px rgb(143, 143, 143);transition-duration: 0.3s;
    
}

#main #main-left img:hover{
    transform: scale(1.2);
}

#main #main-leftt img{
    width: 300px;float: left;border-radius: 60px ;box-shadow: 10px 1px 12px rgb(143, 143, 143);transition-duration: 0.3s;

}

#main #main-leftt img:hover{
    transform: scale(1.2);
}

#main #main-right img{
    width: 300px;float: left;border-radius: 60px ;box-shadow: 10px 1px 12px rgb(143, 143, 143);transition-duration: 0.3s;

}

#main #main-right img:hover{
    transform: scale(1.2);
}

#main #main-rightt img{
    width: 300px;float: left;border-radius: 60px ;box-shadow: 10px 1px 12px rgb(143, 143, 143);transition-duration: 0.3s;

}

#main #main-rightt img:hover{
    transform: scale(1.2);
}

#main #main-bottom{
    
    width: 1400px;min-height: 900px;
    float: left;
}

#main #main-bottom #main-bottom-left{
    
    width: 450px;min-height: 450px;
    float: left;margin-right: 50px;
}


#main #main-bottom #main-bottom-right{

    width: 900px;min-height: 450px;
    float: left;
}

#main #main-bottom #main-bottom-leftt{
    
    width: 900px;min-height: 450px;
    float: left;padding-top: 20px;
}

#main #main-bottom #main-bottom-rightt{
    
    width: 500px;min-height: 450px;
    float: left;padding-top: 20px;
    padding-bottom: 100px;
}

#menu-top #menu-top-right ul li a:hover{
    color: red;transform: scale(1.3);
}

#footer #footer-mid{
    width: 700px;min-height: 250px; padding-top: 50px;
    margin: 0px auto; 
   
}
#footer{
    background-color: rgb(233, 233, 233);
    width: 1920px;min-height: 300px;
    color: black;text-align: center;
    clear: left;
    
}
#footer #footer-mid img{
    width: 200px;
}

#footer #footer-mid p{
    font-family: 'Courier New', Courier, monospace
    text-align: center;
    line-height: 2px;
    font-size: 20px;
}
