body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
   
}
#menu-top-diachi{
    background-color: rgb(18,74,47);
    width: 1920px; height: 75px;
    padding-left: 0px;
}

#menu-top-diachi ul{
    margin-left: 400px;
}

#menu-top-diachi ul li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;font-size: 15px;
    color: rgb(228,234,231);
    float: left;
    line-height: 75px;
    padding-right: 50px; padding-left: 50px;
    
}
#menu-top{    
    width: 1920px; height: 75px;
}

#menu-top #menu-top-left{
    width: 960px; 
    float: left;min-height: 75px;
}

#menu-top #menu-top-left img{
    width: 100px;
    padding-left: 400px;
}

#menu-top #menu-top-right{
    width: 960px; 
    float: left;min-height: 75px;
    
}

#menu-top #menu-top-right ul li{
    list-style-type: none;
    float: left;
}



#menu-top #menu-top-right ul li a{
    text-decoration: none;
    display: inline-block;
    padding-right: 70px;
    color: black;transition-duration: 00.3s;
    
    
}

#menu-top #menu-top-right ul li a:hover{
    color: red;transform: scale(1.3);
}

#main{
   
    width: 1920px; min-height: 1650px;
    float: left;
}

#main #main-title{
    width: 1000px; min-height: 100px;
   
    margin: 0px auto;margin-top: 30px;
}
 
#main #main-title p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;color: rgb(38,147,0);
}

#main #main-sp ul li p{
    font-family: 'Times New Roman', Times, serif;text-align: center;margin-right: 50px;
}

#main #main-sp{
    width: 800px; min-height: 500px;
    margin: 0px auto;margin-top: 30px;
}

#main #main-sp ul li{
    list-style-type: none;float: left;
}

#main #main-sp ul li img{
    width: 200px;border-radius: 1000px;margin-right: 50px;margin-top: 30px;box-shadow: 5px 15px 10px rgb(90, 90, 90);transition-duration: 0.3s
}

#main #main-sp ul li img:hover{
    transform: scale(1.2);
}


#footer{
    background-color: rgb(233, 233, 233);
    width: 1920px;min-height: 200px;
    color: black;text-align: center;
    clear: left;
    
}
#footer #footer-mid img{
    width: 200px;
}

#footer #footer-mid p{
    font-family: 'Courier New', Courier, monospace
    text-align: center;
    line-height: 2px;
    font-size: 20px;
}
