#main {
  margin: 0px auto;
  padding: 0px;

  min-height: 1700px;
  width: 1200px;
  margin-top: 50px;
}
#main_left {
  float: left;
  width: 204px;
  min-height: 100px;
}

#main_left img {
  border-radius: 15px;
  box-shadow: 7px 7px 7px gray;
}

#menu {
  min-height: 90.23px;
  width: 986px;
  background-color: rgb(110, 110, 184);
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #3d3d3d;
  border-radius: 20px;
  box-shadow: 7px 7px 7px gray;
  float: left;
}
#menu ul li {
  float: left;
  padding-right: 20px;
  list-style-type: none;
}

#menu ul li a {
  text-decoration: none;
  display: inline-block;
  border-right: 1px solid gray;
  line-height: 53px;
  padding-right: 42px;
  padding-left: 26px;
  color: white;
  font-size: 26px;
  transition-duration: 0.3s;
}

#menu ul li a:hover {
  transform: scale(1.2);
  color: rgb(216, 137, 137);
}
#banner img {
  width: 1200px;
  min-height: 400px;
  float: left;
  padding-bottom: 40px;
}

.banggia {
  width: 637px;
  border: 1px solid black;
  border-radius: 20px;
  border-collapse: collapse;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  box-shadow: 10px 10px 10px gray;
}
.osanpham {
  width: 190px;
  border: black;
}

.nutbam {
  width: 60px;
  height: 30px;
  border-radius: 10px;
}
.nutthanhtoan {
  width: 80px;
  height: 40px;
  border-radius: 10px;
}
.nutbam:hover {
  background-color: rgb(223, 135, 149);
  color: white;
}

.price {
  text-align: center;
  align-items: center;
}

table {
  border-collapse: separate;
  border-spacing: 50px 0;
}
.pricebutton {
  margin-left: 97px;
  margin-bottom: 26px;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  transition-duration: 0.3s;
}
.pricebutton:hover {
  background-color: rgb(202, 113, 113);
  color: white;
}

#item_picked {
  width: 780px;
  min-height: 1400px;
  float: left;
}
#cast {
  width: 420px;
  min-height: 1000px;

  float: left;
}
#footer {
  width: 100%;
  min-height: 370x;
  background-color: grey;
  margin-top: 50px;
  clear: left;
}
#top_footer {
  width: 100%;
  min-height: 127px;
  background-image: linear-gradient(#252525, #353535 35%);
}

#bottom_fotter {
  min-height: 70px;
  width: 100%;
  background-color: #1d1d1d;
}
