#main {
  margin: 0px auto;
  padding: 0px;

  min-height: 1300px;
  width: 1200px;
  margin-top: 50px;
}
#main_left {
  float: left;
  width: 204px;
  min-height: 100px;
}

#main_left img {
  border-radius: 15px;
  box-shadow: 7px 7px 7px gray;
}

#menu {
  min-height: 90.23px;
  width: 986px;
  background-color: rgb(110, 110, 184);
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #3d3d3d;
  border-radius: 20px;
  box-shadow: 7px 7px 7px gray;
  float: left;
}
#menu ul li {
  float: left;
  padding-right: 20px;
  list-style-type: none;
}

#menu ul li a {
  text-decoration: none;
  display: inline-block;
  border-right: 1px solid gray;
  line-height: 53px;
  padding-right: 42px;
  padding-left: 26px;
  color: white;
  font-size: 26px;
  transition-duration: 0.3s;
}

#menu ul li a:hover {
  transform: scale(1.2);
  color: rgb(216, 137, 137);
}

#banner {
  width: 800px;
  min-height: 400px;
  float: left;
  padding-bottom: 40px;
}
#banner img {
  width: 789px;
  border-radius: 10px;
  float: left;
}

#login_form {
  width: 390px;
  min-height: 390px;
  background-color: rgba(230, 230, 230, 0.801);
  float: left;
  font-family: "Flama Condensed Medium", sans-serif;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 30px;
  box-shadow: 7px 7px 7px gray;
  transition-duration: 00.3s;
}

#login_form:hover {
  background-color: rgb(160, 177, 171);
}

#login_form table {
  margin: 0px auto;
  margin-top: 10px;
}

#login_form tr td {
  padding-top: 5px;
  text-align: center;
  font-size: 14px;
}

#login_form tr td a {
  text-decoration: none;

  color: rgb(201, 36, 36);
}

#login_form tr td input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
}

#login_form tr th {
  padding-bottom: 30px;
}

#login_form tr th h3 {
  font-family: "Flama Condensed Medium", sans-serif;
}

#ins {
  width: 1200px;
  min-height: 500px;

  float: left;
}

#ins h2 {
  padding-left: 20px;
}

#footer {
  width: 100%;
  min-height: 370x;
  background-color: grey;
  margin-top: 50px;
}
#top_footer {
  width: 100%;
  min-height: 127px;
  background-image: linear-gradient(#252525, #353535 35%);
}
#bottom_fotter {
  min-height: 70px;
  width: 100%;
  background-color: #1d1d1d;
}
