* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.pic {
  cursor: pointer;
}

body {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/CaseStudy2/images/logo.jpg);
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
}

span {
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chat {
  height: 400px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-input-placeholder {
  color: 0.711;
}

input {
  border: 0;
  padding: 15px;
  margin-left: -28;
  width: 595px;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.562);
  cursor: text;
  transition-duration: 0.2s;
}

input:hover {
  background-color: white;
}

/* TO DO LIST */
.nutxong {
  width: 100px;
  height: 100px;
}
.todoliststt {
  width: 30px;
  padding-left: 4px;
}
.todolistcheck {
  width: 250px;
}

#todolist-s {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.692);
  min-height: 500px;
  margin-left: 20px;
  border-radius: 20px;
}
/*--------------------*/
#musiclist {
  width: 160px;
  background-color: rgba(255, 255, 255, 0.692);
  min-height: 145px;
  margin-left: 20px;
  border-radius: 30px;
}
/* Tivi */
#tivi {
  width: 408px;
  background-color: rgba(255, 255, 255, 0.692);
  min-height: 320px;
  margin-left: 20px;
  border-radius: 20px;
}
/*--------------------*/
.messages {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 90%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.651);
  padding: 15px;
  margin: 15px;
  border-radius: 25px;
}

#bot {
  margin-left: auto;
}

.bot {
  font-family: Consolas, "Courier New", Menlo, source-code-pro, Monaco,
    monospace;
}

.avatar {
  height: 25px;
}

.response {
  display: flex;
  align-items: center;
  margin: 1%;
}
